body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    background: #0077cc;
    color: white;
    border: none;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}