body {
    font-family: Arial;
    margin: 0;
}

/* Navbar */
.navbar {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar input {
    margin-top: 5px;
    padding: 5px;
}

/* Banner */
.banner {
    background: lightblue;
    padding: 20px;
    text-align: center;
}

/* Products */
.products {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

/* Card */
.card {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}